<div class="container">
  <h1>Welcome to FlashCards <%= @user.name %></h1>

  <table>
    <tr>
      <th> Name of Deck</th>
      <th> Number of Cards</th>
    </tr>
  <% @decks.each do |deck| %>
    <tr>
      <td><%= deck.name %></td>
      <td><%= deck.cards.count %></td>
    </tr>
  <% end %>

  <form method="post" action="/round/play">
    <select name="deck_id">
      <% @decks.each do |deck| %>
      <option value="<%= deck.id %>"><%= deck.name %></option>
      <% end %>
    </select>
    <input type='submit' value='Play!'>
  </form>
</table>

  <br>

  <a href="/user/logout">Logout</a>
</div>
